.header{

    min-height:150px;
 	background-color: indigo; 
}
.wrapper{
overflow: hidden;

}
.blog{

 	min-height:300px;
 	background-color: blue; 
 	width:60%;
 	float:left;

}
.contact{

	min-height:300px;
 	background-color: aqua; 
 	width:40%;
 	float:right;
}
.footer{
	min-height:150px;
 	background-color: yellow; 
 	/*clear:both;*/
}

